<p id="notice"><%= notice %></p>

<h1>Readings</h1>

<canvas id="sensorReadingsChart" width="100%" height="50"></canvas>
<script>

  function getRandomArbitrary(min, max) {
    return Math.random() * (max - min) + min;
  }

  function updateWithRandomData() {
    updateChartData(Date.now(), [getRandomArbitrary(15, 30), getRandomArbitrary(20, 90), getRandomArbitrary(100, 300), getRandomArbitrary(400, 900), getRandomArbitrary(0, 1)]);
    sensorReadingsChart.update();
  }

  function updateChartData(label, updateArray) {
    sensorReadingsChart.data.labels.push(label);
    for (var i = 0; i < sensorReadingsChart.data.datasets.length; i++) {
      sensorReadingsChart.data.datasets[i].data.push(updateArray[i]);
    };
    sensorReadingsChart.update();
  };

  var ctx = $("#sensorReadingsChart");
  var sensorReadingsChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: <%= raw(@readings.collect { |r| r.timestamp.strftime("%H:%M, %d %B, %Y").to_s }.to_a) %>,
        datasets: [
          {
            label: "Temperature",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "coral",
            borderColor: "coral",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "white",
            pointHoverBorderColor: "coral",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: <%= raw(@readings.collect { |r| r.temperature }.to_a) %>,
          },
          {
            label: "Humidity",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "seagreen",
            borderColor: "seagreen",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "white",
            pointHoverBorderColor: "seagreen",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: <%= raw(@readings.collect { |r| r.humidity }.to_a) %>,
          },
          {
            label: "Particles",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "slategrey",
            borderColor: "slategrey",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "white",
            pointHoverBorderColor: "slategrey",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: <%= raw(@readings.collect { |r| r.particles }.to_a) %>,
          },
          {
            label: "Carbon monoxide",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "lightsteelblue",
            borderColor: "lightsteelblue",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "white",
            pointHoverBorderColor: "lightsteelblue",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: <%= raw(@readings.collect { |r| r.carbon_monoxide }.to_a) %>,
          },
          {
            label: "Heater on",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "violet",
            borderColor: "violet",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "white",
            pointHoverBorderColor: "violet",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: <%= raw(@readings.collect { |r| r.heater_on ? 1 : 0 }.to_a) %>,
          }
        ]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }],
              xAxes: [{
                  // display: false
              }]
          }
      }
  });
</script>

<table>
  <thead>
    <tr>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Particles</th>
      <th>Carbon monoxide</th>
      <th>Heater on</th>
      <th>Device</th>
      <th>Timestamp</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.temperature %></td>
        <td><%= reading.humidity %></td>
        <td><%= reading.particles %></td>
        <td><%= reading.carbon_monoxide %></td>
        <td><%= reading.heater_on %></td>
        <td><%= reading.device_id %></td>
        <td><%= reading.timestamp %></td>
        <td><%= reading.latitude %></td>
        <td><%= reading.longitude %></td>
        <td><%= link_to 'Show', reading %></td>
        <td><%= link_to 'Edit', edit_reading_path(reading) %></td>
        <td><%= link_to 'Destroy', reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reading', new_reading_path %>
