<p id="notice"><%= notice %></p>

<p>
  <strong>Temperature:</strong>
  <%= @reading.temperature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @reading.humidity %>
</p>

<p>
  <strong>Particles:</strong>
  <%= @reading.particles %>
</p>

<p>
  <strong>Carbon monoxide:</strong>
  <%= @reading.carbon_monoxide %>
</p>

<p>
  <strong>Heater on:</strong>
  <%= @reading.heater_on %>
</p>

<p>
  <strong>Device:</strong>
  <%= @reading.device_id %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @reading.timestamp %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @reading.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @reading.longitude %>
</p>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
